.container1 {
   border: none;
   width: 99%;
   height: 99%;
   padding: 0px;
   position: relative;
}
.tag {
   float: left;
   position: absolute;
   right: 0px;
   top: 0px;
   z-index: 1000;
   background-color: #92AD40;
   padding: 5px;
   color: #FFFFFF;
   font-weight: bold;
}
.canvascontainer
{
	border: none;
	width: 100%;
    height: 100%;
    max-width: 100%;
	padding: 0px;
}